<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Магазин курсов</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a class="{{#if isHome}}active{{/if}}" href="/">Главная</a>
      </li>
      <li>
        <a class="{{#if isCourses}}active{{/if}}" href="/courses">Курсы</a>
      </li>
      {{#if isAuth}}
        <li>
          <a class="{{#if isAdd}}active{{/if}}" href="/add">Добавить курс</a>
        </li>
        <li>
          <a class="{{#if isProfile}}active{{/if}}" href="/profile">Профиль</a>
        </li>
        <li>
          <a class="{{#if isCart}}active{{/if}}" href="/cart">Корзина</a>
        </li>
        <li>
          <a class="{{#if isOrder}}active{{/if}}" href="/orders">Заказы</a>
        </li>
        <li>
          <a class="{{#if isOrder}}active{{/if}}" href="/auth/logout">Выйти</a>
        </li>
      {{else}}
        <li>
          <a class="{{#if isLogin}}active{{/if}}" href="/auth/login#login">Войти</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>